<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
	.item img{
		height: 200px;
		width: 100%;
	}

	.userInfo{
		padding-left: 40%;
		width: 100%;
	}


	</style>
</head>
<body>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  <!-- First image in slide -->
    <div class="item active">
      <img src="images/top20.jpg" alt="0">
      <div class="carousel-caption">
       <h2> Top 20 games of 2016</h2>
      </div>
    </div>
<!-- Second image in slide -->
    <div class="item">
      <img src="images/horror1.jpg" alt="1">
      <div class="carousel-caption">
       <h2> Horror takes first place in 2016 </h2>
      </div>
    </div>
<!--Third image in slide -->
     <div class="item">
      <img src="images/uncharted4.jpg" alt="2">
      <div class="carousel-caption">
       <h2> Uncharted is back </h2>
      </div>
    </div>

    <!-- Fourth image in slide -->
     <div class="item">
      <img src="images/ad.jpg" alt="3">
      <div class="carousel-caption">
       <h2> Top snackage </h2>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="userInfo">
<div class="row ">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/gameLogo.png" alt="...">
      <div class="caption">
      	<h2> Sign up to buy games at low prices</h2>
		<h3>And be an game insider, getting the info first</h3>
        <p><a href="#/register" class="btn btn-primary" role="button">Sign-up</a> <a href="#/login" class="btn btn-default" role="button">Login</a></p>
      </div>
    </div>
  </div>
</div>


</body>
</html>

