<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>

	.thumbnail img{
	height: 400px;
	width: 350px;

	
	}

	.thumbnail{
		text-align: center;
	}

	.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}


	</style>
</head>
<body ng-controller="optionsCtrl">


<form ng-click="addCart()" id="login-form">

<div class="row no-gutter ">
<!-- Begin row 1 -->
<div class="row no-gutter">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/fallout4.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/witcher3.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div> <!-- END ROW 1-->


<!-- CLEARFIX -->
 <div class="clearfix visible-xs-block"></div>

<!-- Begin row 2 -->
<div class="row no-gutter ">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/cod.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/inside.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div> <!-- END ROW 2-->

<!-- CLEARFIX -->
 <div class="clearfix visible-xs-block"></div>

<!-- Begin row 3 -->
<div class="row no-gutter ">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/doomCover.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/darksouls.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div><!-- END ROW 3 -->


<!-- CLEARFIX -->
 <div class="clearfix visible-xs-block"></div>

</div>
</form> <!-- END FORM -->

</body>
</html>


