<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<div class="row text-center">
	<div class="center-block" id="paument-buttons">
		<form action="/your-charge-code" method="POST">
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_test_TH0ryHnWgjHp39BcN7fHwQ2t"
	    data-amount="999"
	    data-name="Demo Site"
	    data-description="Widget"
	    data-image="images/gameLogo.png"
	    data-locale="auto"
	    data-zip-code="true">
	  </script>
	</form>

	
</div>
</body>
</html>



